* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.400px;
    background-color: #000;
    list-style-type: none;
}

#subnav h2 a {
    float: right;
    font-size: 17px;
    color: #fff;
    padding: 0 20px;
    margin: -30px 0;
    text-decoration: none;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
}

#nav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav li a {
    padding: 0 24px;
    color: #fff;
    text-decoration: none;  
    line-height: 46.400px;
    display: block;
}

#header .subnav {
    height: 3px;
    background-color: #000;
}

#slider {
    padding-top: 73%;
    background: url(/img/amthuc6.png) top center / cover no-repeat;
}

#content {

}

#content .content-section {
    padding: 15px 30px;
    line-height: 1.8;
    opacity: 0.7;
}

#content .member-list {
   
}

#content .member-item {
    float: right;
    width: 20%;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
    margin-right: 120px;
}

#content .member-name1 {
    font-size: 15px;
    margin-left: -120px;
}

#content .member-img {
    width: 280px;
    height: 190px;
    border-radius: 5px;
    margin-top: -320px;
    margin-left: -120px;
}

#contact .content-section {
    width: 800px;
    padding: 24px 0;
}

#contact .section-heading {
    text-align: center;
    margin-top: 100px;
    margin-left: 160px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
    
}

#contact .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 160px;
    opacity: 0.7;
    font-style: italic;
}

#contact .about-text {
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
    line-height: 1.6;
    margin-left: 450px;
    margin-right: 250px;
}

#imgcontact {
    margin-top: 15px;
    text-align: center;
    margin-left: 200px;
}

#footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

#footer .container .noi-dung{
    margin-right: 30px;
}
#footer  .container .noi-dung.about{
    width:40%;
}
#footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
#footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
#footer .container .noi-dung.about p{
    color: #999;
}
/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.social-icon li a:hover{
    background: #f00;
}
.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.links{
   position: relative;
   width: 25%;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links ul li a:hover{
    color: #fff;
}

.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}





